.footer {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: small;
  }
.writer {
    margin-right: 1rem;
}
.github-address {
    font-size: medium;
    font-weight: bold;
}