.post {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    margin-left: 1rem;
    vertical-align: 10em;
    text-align: center;
  }
  