.posts {
  padding: 4rem;
  background-color: white;
   
}

.posts-container {
  display: block;
  width: 80%;
}

.posts-wrapper {
  position: relative;

}

.posts-items {
  margin-bottom: 24px;
  display: flex;
  flex: 1;
}