.post-items {
    padding: 0.5rem 0rem;
    margin-left: 1rem;
    background-color:rgb(252, 253, 253);
}
.post-items-category {
    font-size: small;
}
.post-items-title {
    font-weight: bold;
    font-size: large;
}